<!DOCTYPE html>
<html lang="pl">
<head>
        <meta charset="UTF-8">
        <title>Strona główna</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static from staticfiles %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Sahitya" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>

    img {
        margin-right: 10px;
        margin-bottom: 10px;
        max-width: 480px;
    }

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    </style>

    </head>
    <body>
            <div class="green navbar-fixed">
                <nav>
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="#!">EyeBom Design & Solutions</a></li>
                        <li><a href="#!">EyeClo</a></li>
                    </ul>
                    <ul id="dropdown2" class="dropdown-content">
                        <li><a href="#!">Book Cover Design</a></li>
                        <li><a href="#!">Icon Design</a></li>
                        <li><a href="#!">Poster Design</a></li>
                        <li><a href="#!">Print Design</a></li>
                        <li><a href="#!">Stationery Design</a></li>
                        <li><a href="#!">Sticker Design</a></li>
                        <li><a href="#!">T-Shirt Design</a></li>
                        <li><a href="#!">Banner Design</a></li>
                        <li><a href="#!">Magazine Design</a></li>
                        <li><a href="#!">Business Cards</a></li>
                        <li><a href="#!">Logo Design</a></li>
                        <li><a href="#!">Brochures</a></li>
                    </ul>
                <div class="green nav-wrapper">  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                  <ul class="left hide-on-med-and-down">
                    <li class="active"><a href="#">cos tam</a></li>
                    <li><a a class="dropdown-button" data-beloworigin="true" data-hover="true" data-constrainwidth="false" href="#!" data-activates="dropdown2">cos tam</a></li>
                    <li><a class="dropdown-button" data-beloworigin="true" data-hover="true" data-constrainwidth="false" href="#!" data-activates="dropdown1">cos tam</a></li>
                    <li><a href="#">cos tam</a></li>
                    <li><a href="#">cos tam</a></li>
                    <li><a href="#">cos tam</a></li>
                  </ul>
                  <ul id="mobile-demo" class="side-nav">
                    <li class="no-padding">
                      <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-teal">Dropdown 1</a>
                          <div class="collapsible-body">
                            <ul>
                              <li><a href="#">Link1</a></li>
                              <li><a href="#">link2</a></li>
                              <li><a href="#">link3</a></li>
                            </ul>
                          </div>
                        </li>
                        <li class="bold"><a class="collapsible-header waves-teal">Dropdown 2</a>
                          <div class="collapsible-body">
                            <ul>
                              <li><a href="#">link1</a></li>
                              <li><a href="#">link2</a></li>
                              <li><a href="#">link3</a></li>
                            </ul>
                          </div>
                        </li>
                        <li class="bold"><a class="collapsible-header waves-teal">Dropdown 3</a>
                          <div class="collapsible-body">
                            <ul>
                              <li><a href="#">link1</a></li>
                              <li><a href="#">link2</a></li>
                              <li><a href="#">link3</a></li>
                            </ul>
                          </div>
                            </li>
                            <li class="bold"><a href="#" class="waves-teal">Normal link 1</a></li>
                            <li class="bold"><a href="#" class="waves-teal">Normal link 2</a></li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <br/>

        <div class="container">
            {% for post in list_of_website_posts %}
                <div class="row ">
                        <img src="{{ post.image.url }}" align="left">
                        <p>{{ post.content|safe }}</p>
                  </div>
                </br>
                </br>
        {% endfor %}
    </div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <script>
     $(".button-collapse").sideNav();
    </script>

     <footer class="page-footer green">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">PATRYK SZKYUTAK</h5>
                        <p class="grey-text text-lighten-4">ZSA-T ROPCZYCE</p>
                    </div>

                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Polecane przez nas strony:</h5>

                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#">link1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#">link2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#">link3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#">link4</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-copyright green darken-1">
                <div class="container">
                    @ 2017 ZSAT-ROPCZYCE wszelkie prawa niezastrzeżone
                    <a class="grey-text text-lighten-4 right" href="#">cos tam</a>
                </div>
            </div>
        </footer>
    </body>
</html>