cycler==0.10.0
Django==1.9.12
django-author==0.4.5
django-ckeditor==5.2.1
django-filebrowser==3.7.2
django-grappelli==2.8.3
django-javascript-settings==1.1.2
django-multiupload==0.5.2
django-registration==2.2
matplotlib==2.0.2
numpy==1.12.1
olefile==0.44
Pillow==4.0.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
setuptools-git==1.1
six==1.10.0
