<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- przkazuje liste zdjec z ktorej galerii -->


    {% for img in list_of_images %}
        <div id="ScalingImage">
            {{ img.title }}
            <br/><br/>
            <img class="img" src="{{ img.image.url }}" onload="resize_image(this)"/>
            <br/>
        </div>

    {% endfor %}

</body>

<script>

    function resize_image(image) {
        image.style.width = '30%'
        image.style.height = 'auto'
    }

</script>
</html>